* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-image: url("./img/movie.jpg");
  background-size: cover;


}

header{
  padding: 50px, 15px, 0px;
}

header h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0;
  border: none;
}

section{
  padding: 15px;
  border: none;
}

.searchbox{
  display:block;
  width: 60%;
  padding: 15px;
  border: none;
  background: none;
  background-color: white;
  border-radius: 10px;
  color: darkgray;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s ease-out;
  text-align: center;
  position: absolute;
  margin-left: 20%;
}

.searchbox:focus {
  box-shadow: 0px 0px 10px 5px darkgrey;
  border: none;
}

.results{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result{
  width: 35%;
  min-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

