* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;

}

header{
  padding: 50px, 15px, 0px;
}

header h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0;
}

section{
  display: block;
  width: 100%;
  padding: 15px;
}