* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: black;
  background-position: center;
  background-image: url("./img/movie.jpg");
  background-size:cover;
  background-repeat: no-repeat;


}

header{
  padding: 50px, 15px, 0px;
}

header h1{
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}

header .logo{
  height: 38px;
  width: 38px;
  color: white;
 margin-right: 1%;
 
 

}

main {
  width: 100%;
  
  margin: 0;
  border: none;
}

section{
  padding: 15px;
  border: none;
}

.searchbox{
  display:block;
  width: 100%;
  padding: 15px;
  border: none;
  background: none;
  background-color: white;
  border-radius: 10px;
  color: darkgray;
  font-size: 20px;
  font-weight: 500;
  transition: 0.4s ease-out;
  text-align: center;
  
  
  
}

.searchbox:focus {
  box-shadow: 0px 0px 10px 5px darkgrey;
  border: none;
}

.results{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result{
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img{
  display: block;
  width: 100%;
}

.results .result h3{
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: grey;
  flex:  1 1 100%;
  transition: 0.4s ease-out;
}

.results .result h3:hover{
  color: black;
  background-color: white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/movie3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow:scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
  color: white;
}

.popup .content h2 {
  font-size: 30px;
  font-weight: 600;
}


.popup .content h2 span {
  font-size: 20px;
  font-weight: 300;
}

.popup .content .polt {
  display: flex;
  flex-wrap: wrap;
}

.popup .content .rating {
  margin-bottom: 30px;
}


.popup .content .polt img {
  flex:1 1 50% ;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .polt p {
  flex:1 1 50% ;
  padding: 30px;
  margin-top: 10%;
}

.popup .content .close {
 display: inline;
 padding: 15px 30px;
 font-size: 18px;
 font-weight: 700;
 background-color:grey;
 color: white;
 border: none;
 border-radius: 10px;
 outline: none;
 appearance: none;
 cursor: pointer;
 transition: 0.4s ease-out;
 margin-top: 3%;
}

.popup .content .close:hover {
background-color: darkred;
  }
